.header{
    margin: 0;
    padding: 0;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

}

.nav-container{
    display: flex;
    justify-content: space-between;
}

.logo-container{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 45px;
}
.frame-logo{
    border: 1px solid red;
    margin: 0;
    width: 86.041px;
    height: 40 px;
    flex-shrink: 0;

}
.text-color{
    color: pink;
}

.icon-container{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    
}

.navi-icon{
    padding: 0 15px;
    cursor: pointer;
}

#follow{
    display: flex;
    align-items: center;
    height: 40px;
    gap: 10px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);

}
.social-icon{
    text-decoration: none;
    margin-right: 5px;
}
.goat-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    border: 5px solid red;
    margin: 50px auto 0;
    max-width: 1400px;
    min-height: 50px;
    
}
.goat{
    font-family: Work Sans;
    background-image: url(images/Group\ 14.png);
    
    width: 50%;
    height: auto;
    text-align: center;

}
.headline{
    color: #0B0223;

    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}
.goat-logo{
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    
}
.goat-des{

    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
    
    gap: 0;
    
}
.first{
    display: flex;
    
}
.second{
    display: flex;

    
}
.third{
     display: flex;
     
}

.btn{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
}
.btn-1{

background-color: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
color: white;
}
.btn-2{
    background-color: #4EC5F7;
    color: white;
}


@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .news-options,
  .footer-options {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
  }
  
  .news-options li {
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .footer-options li {
    display: inline-flex;
    padding: 10px;
    align-items: flex-start;
    gap: 60px;
  }
  
  .social-icons {
    display: flex;
    
    align-items: center;
  }
  
  .social-icons a {
    color: #fff;
    margin-right: 10px;
    font-size: 20px;
    text-decoration: none;
  }
  
  /* Add Font Awesome icons library (adjust the URL as needed) */
  @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
  